///<reference path="../../common/utilities/utilities">

@mixin login-box( ) { padding: 50px 20px; width: 90%; max-width: 500px; margin: 100px auto auto auto; text-align: center; border-radius: 10px; background: #fff; box-shadow: #111 0 2px 16px -12px; }

.login-page { display: flex; flex: 1; flex-direction: column;
    > form { flex: 1; }

    .google-login-wrapper {
        @include login-box( );
        padding-bottom: 50px;

        h2 { text-align: center; margin-bottom: 20px; }
    }

    .btn-social { background: $primary; border: 0; padding: 8px 35px; }

    .manual-login {
        @include login-box( );
    }
}
